<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Device Login</title>
    <script>
      function checkLoginStatus() {
        fetch("/token")
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              window.location.href = "/main_screen";
            } else {
              setTimeout(checkLoginStatus, 3000);
            }
          });
      }

      function makeUrlClickable() {
        const messageElement = document.getElementById("message");
        const messageText = messageElement.textContent;
        const urlRegex = /(https?:\/\/[^\s]+)/g;
        const updatedText = messageText.replace(urlRegex, (url) => {
          return `<a href="${url}" target="_blank">${url}</a>`;
        });
        messageElement.innerHTML = updatedText;
      }

      window.onload = function () {
        checkLoginStatus();
        makeUrlClickable();
      };
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Device Login</h1>
      <p id="message">{{ message }}</p>
      <p>Please complete the login process on another device or tab.</p>
    </div>
  </body>
</html>
